Checks: >
  -*,
  bugprone-*,
  performance-*,
  -bugprone-easily-swappable-parameters,
  -bugprone-multi-level-implicit-pointer-conversion,
  -bugprone-suspicious-realloc-usage,
  -bugprone-suspicious-memory-comparison,
  -performance-no-int-to-ptr,
  -performance-enum-size,

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

CheckOptions:
  - key: bugprone-argument-comment.StrictMode
    value: false
  - key: bugprone-assert-side-effect.AssertMacros
    value: 'assert,wgsl_compiler_assert'
